.dashboard-container {
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.top-left-organization {
  font-size: 3em;
}

.top-right-controls {
  display: flex;
  justify-content: flex-end;
}

.separator {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}
